@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
.logo{
    font-size: 30px;
}
.navigation-div{
    height: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background: rebeccapurple;
    color: white;
}
.logo{
    flex: 1;
}
.nav{
    display: flex;
    gap: 20px;
    padding: 20px;
}
a{
    color: white;
    position: relative;
}
a::before{
    content: '';
    height: 3px;
    width: 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-out;
}
a:hover:before{
    width: 100%;
    color: pink;
}
a:hover{
    color: pink;
}
.menu-icon{
    width: 40px;
    height: 40px;
}
#check{
    display: none;
}
.menu-icon-div{
    display: none;
}
@media only screen and (max-width: 678px){
    .navigation-div{
        height: 250px;
       justify-content: center;
       align-items: flex-start;
    }
    .logo{
        padding: 15px;
        font-size: 20px;
    }
    a:hover:before{
        width: 0px;
    }
    
    .nav{
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -200px;
        transition: all 0.5s ease;
    }
    .menu-icon-div{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        z-index: 9999;
    }
    #check:checked ~ nav{
        top: 50px;
        transition: all 0.5s ease;
    }
}